@font-face {
    font-family: gluten;
    src: url(../public/assets/fonts/gluten/Gluten-VariableFont_slnt_wght.woff);
}

@font-face {
    font-family: gabarito;
    src: url(../public/assets/fonts/gabarito/Gabarito-VariableFont_wght.woff);
}

@font-face {
    font-family: istokWeb;
    src: url(../public/assets/fonts/istok_web/IstokWeb-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: istokWeb;
    src: url(../public/assets/fonts/istok_web/IstokWeb-BoldItalic.woff);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: istokWeb;
    src: url(../public/assets/fonts/istok_web/IstokWeb-Italic.woff);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: istokWeb;
    src: url(../public/assets/fonts/istok_web/IstokWeb-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
