$colorDark : rgb(5, 39, 63);
$colorLight: white;
$colorTransparent: rgba(255, 255, 255, 0);
$bgDark: rgb(53, 48, 41);
$bgDarkOpacity: rgba(53, 48, 41, 0.916);
$bgLight: #DADDAF;
$bgLightOpacity: #ecf0bfdd;
$bg-clair:#FFF9EF;
$bgImg: 'public/assets/images/fond-blog.jpg';
$fontFamilyGluten: "gluten";
$fontFamilyGabarito: "gabarito";
$fontFamilyIstokWeb: "istokWeb";
$grey: grey;
$greyLight: rgb(194, 194, 194);

